/* TODO */
/* 
x outlined text
x proper states for nav
x about spacing
x about content
- linking behance, etc.
- transitions
x merge the 3d scene for the background
- create infinite animations of orbit-x and depth-mod (@property)
- animate usin :matches()
- text color should be the inverse of the background content
- change Inter to Archivo
*/

@import url("/css/reset.css");

:root {
  --font-sans: Inter, sans-serif;
  --font-mono: Space Mono, monospace;

  --fs-min: 0.875rem;
  --fs-mid: 1.5rem;
  --fs-max: max(min(1.25rem + 25svh, 1.25rem + 15svw), 4rem);

  --spacing-min: clamp(0rem, 0.25rem + 2vw, 50rem);

  --foreground-color: light-dark(#121212, #e0e0e0);
  --foreground-color-dim: #888888;
  --background-color: light-dark(#e0e0e0, #121212);
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-weight: 100 900;
  src: url('/fonts/Inter-VariableFont_opsz\,wght.ttf') format(truetype);
}

@font-face {
  font-display: swap;
  font-family: 'Space Mono';
  font-weight: 400;
  src: url('/fonts/space-mono-latin-400.woff2') format(truetype);
}

html {
  color-scheme: light dark;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  display: grid;
  font-family: var(--font-sans);
  font-size: var(--fs-mid);
  grid-template-areas: "a";
  line-height: 1.3;
  min-height: 100svh;
}

main {
  grid-area: a;
  padding: var(--spacing-min);
}

main:has(details[name="nav"][open]) > details[name="nav"]:not([open]) {
  display: none;
}

details[name="nav"] {
  summary {
    color: var(--background-color);
    font-size: var(--fs-max);
    font-weight: 900;
    letter-spacing: -0.03em;
    line-height: 0.8;
    -webkit-text-stroke: 2px var(--foreground-color);
    text-transform: uppercase;
    list-style-type: none;
    user-select: none;
  }

  ul {
    padding: var(--spacing-min);
    list-style-type: none;
  }

  a {
    color: inherit;
    text-decoration: none;
    &:visited {
      color: var(--foreground-color-dim);
    }
    &:hover {
      color: var(--foreground-color);
    }
  }

  &[open] {
    summary {
      color: var(--foreground-color);
      text-shadow: none;
    }
  }
}

@media (hover: hover) {
  details[name="nav"] {
    summary:hover {
      color: var(--foreground-color);
    }
    &[open] {
      summary:hover {
        color: var(--background-color);
      }
    }
    a {
      &:hover {
        color: var(--foreground-color);
        text-decoration: underline;
      }
    }
  }
}

/* INPUT */
/* ======================================== */
:root {
  --orbit-x: 0.875;
  --orbit-y: 0;
  --depth-mod: 0;
}

/* SCENE */
/* ======================================== */
#scene {
  /* Input */
  --_rotate-y: var(--orbit-x);
  --_rotate-x: var(--orbit-y);
  --_ascender-depth: calc(0.75em + sin(-1 * 360deg * var(--depth-mod)) * cos(180deg * 2 * (var(--depth-mod) + 0.25)) * 0.5em);
  --_stem-depth: calc(0.75em + sin(-1 * 360deg * var(--depth-mod)) * sin(360deg * 2 * (var(--depth-mod) + 0.25)) * 0.5em);
  --_arm-depth: calc(0.75em + sin(360deg * 2 * (var(--depth-mod) + 0.25)) * 0.5em);
  --_leg-depth: calc(0.75em + cos(180deg * 2 * (var(--depth-mod) + 0.25)) * 0.5em);
  /* --_ascender-pos: calc(sin(360deg * 2 * (var(--depth-mod) + 0.25)) * 0.25em); */
  --_ascender-pos: 0em;
  --_stem-pos: 0em;
  --_arm-pos: 0em;
  --_leg-pos: 0em;

  /* Config */
  --_unit: min(35vh, 35vw); /* This equals '1em'. */
  --_scene-height: 100svh;
  --_scene-width: 100svw;

  --_background-color: light-dark(#e0e0e0e0, #121212);
  --_foreground-color: light-dark(#757575, #e0e0e0);

  --_sides-gradient: linear-gradient(90deg, hsl(from var(--_foreground-color) h s l / 0.5), 25%, hsl(from var(--_background-color) h s l / 0));

  /* Utility */
  --_center-face: translate(-50%, -50%);

  background-color: var(--_background-color);
  font-size: var(--_unit);
  grid-area: a;
  min-height: var(--_scene-height);
  min-width: var(--_scene-width);
  position: relative;
  perspective: 5em;
  perspective-origin: 50% 50%;
  overflow: hidden;
  z-index: -1;
}

#scene * {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* LOGO */
/* ======================================== */
/* Camera rotation and vertical centering */
#k0v1 {
  right: 0%;
  transform:
    rotateY(calc(var(--_rotate-y) * 360deg))
    rotateX(calc(var(--_rotate-x) * 360deg))
    translateY(-0.22em);
  transform-style: preserve-3d;
}

/* Matching coordinate systems */
.center { transform: var(--_center-face); }
.center, .center > * { transform-style: preserve-3d; }

/* ASSEMBLY */
/* ======================================== */
/* Ascender, arm and stem are the same shapes */
.front {
  background-color: var(--_foreground-color);
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  width: 1em;
  height: 1em;
  transform: var(--_center-face) translateZ(calc(var(--_depth) / 2));
}

.side-01 {
  background: var(--_sides-gradient);
  width: var(--_depth);
  height: 1em;
  transform: var(--_center-face) translate(-0.5em, 0) rotateY(-90deg) rotateZ(180deg);
}

.side-02 {
  background: var(--_sides-gradient);
  width: var(--_depth);
  height: 1em;
  transform: var(--_center-face) translate(0, 0.5em) rotateY(90deg)
    rotateX(-90deg);
}

.side-03 {
  background: var(--_sides-gradient);
  width: var(--_depth);
  height: 1.414em;
  transform: var(--_center-face) rotateZ(45deg) rotateY(90deg) rotateX(90deg);
}

#ascender {
  --_depth: var(--_ascender-depth);

  transform: translate(-0.707em, -0.707em) rotateZ(45deg) translateZ(var(--_ascender-pos));
}

#arm {
  --_depth: var(--_arm-depth);

  transform: rotateZ(-45deg) translateZ(var(--_arm-pos));
}

#stem {
  --_depth: var(--_stem-depth);

  transform: translate(-1.15em, 1.15em) rotateZ(-135deg) translateZ(var(--_stem-pos));
}

#leg {
  --_depth: var(--_leg-depth);

  transform: translate(0, calc(1.125 * 1.414em)) scale3d(125%, 125%, 100%)
    rotateZ(135deg) translateZ(var(--_leg-pos));

  .front {
    /* background-color: var(--_foreground-color); */
    clip-path: polygon(0 0, 50% 50%, 50% 100%, 0 100%);
    width: 1em;
    height: 1em;
    transform: var(--_center-face) translateZ(calc(var(--_depth) / 2));
  }

  .side-02 {
    height: calc(0.5em);
    transform: var(--_center-face) translate(-0.25em, 0.5em) rotateY(90deg)
      rotateX(-90deg);
  }

  .side-03 {
    height: 0.707em;
    transform: var(--_center-face) rotateZ(45deg) translate(-0.355em, 0)
      rotateY(90deg) rotateX(90deg);
  }

  .side-04 {
    background: var(--_sides-gradient);
    height: calc(0.5em);
    width: var(--_depth);

    transform: var(--_center-face) translate(0, 0.25em) rotateY(90deg);
  }
}
