/* ## Type animation
/* ========================================================================== */
.gobe-tiles {
  padding-top: calc(100vw / 4.3);
  overflow: clip;
  margin: 0;
  user-select: none;
}

.gobe-tiles h2 {
  display: grid;
  font-size: calc(100vw / 4.3);
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  line-height: 0.8em;
  row-gap: 0.75rem;
  margin: 0!important;

  animation-name: parallax-vertical;
  animation-timeline: view(0 0);
  animation-fill-mode: both;
}

/* TODO Itt bajlódtam az overflowval és a pozícionálással is, kicsit hacky az egész. */
.gobe-tiles span {
  overflow: visible;
  margin-right: var(--spacing-s);
  padding-bottom: 1.75rem;
  margin-bottom: -1.75rem;
}

.gobe-tiles > h2 > span {
  animation-timeline: view(0% 0%);
  /* Applying ease-out-in-sine to fake linear rotation of the visible edges. */
  animation-timing-function: cubic-bezier(0.050, 0.445, 0.950, 0.550);
  animation-fill-mode: both;
}

@keyframes fake-mask-rotation-1 {
  from { clip-path: polygon(200% 100%, 200% 100%, 0% 100%); transform: translateX(25%); }
  to { clip-path: polygon(0% -100%, 200% 100%, 0% 100%); transform: translateX(0%);}
}

@keyframes fake-mask-rotation-2 {
  from { clip-path: polygon(0% 200%, 0% 0%, 0% 200%); transform: translateY(25%); }
  to { clip-path: polygon(200% 0%, 0% 0%, 0% 200%); transform: translateY(0%); }
}

@keyframes fake-mask-rotation-3 {
  from { clip-path: polygon(-100% 0%, -100% 0%, 100% 0%); transform: translateX(-25%); }
  to   { clip-path: polygon(100% 200%, -100% 0%, 100% 0%); transform: translateX(0%); }
}

@keyframes fake-mask-rotation-4 { 
  from { clip-path: polygon(100% -100%, 100% -100%, 100% 100%); transform: translateY(-25%); }
  to   { clip-path: polygon(-100% 100%, 100% -100%, 100% 100%); transform: translateY(0%); }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes parallax-vertical {
  from { transform: translateY(calc(-2 * var(--spacing-xxl))); }
  to { transform: translateY(calc(0.25 * var(--spacing-xxl))); }
}

.gobe-tiles > h2 > span:nth-of-type(1n) { animation-name: fake-mask-rotation-1; }
.gobe-tiles > h2 > span:nth-of-type(2n) { animation-name: fake-mask-rotation-2; }
.gobe-tiles > h2 > span:nth-of-type(3n) { animation-name: fake-mask-rotation-3; }
.gobe-tiles > h2 > span:nth-of-type(4n) { animation-name: fake-mask-rotation-4; }

.gobe-tiles > h2 > span:nth-of-type( 1n) { animation-delay: 0.00s; }
.gobe-tiles > h2 > span:nth-of-type( 2n) { animation-delay: 0.15s; }
.gobe-tiles > h2 > span:nth-of-type( 3n) { animation-delay: 0.30s; }
.gobe-tiles > h2 > span:nth-of-type( 4n) { animation-delay: 0.45s; }
.gobe-tiles > h2 > span:nth-of-type( 5n) { animation-delay: 0.60s; }
.gobe-tiles > h2 > span:nth-of-type( 6n) { animation-delay: 0.75s; }


/* ========================================================================== */
/* # Media queries */
/* ========================================================================== */

@media (max-width: 50rem) {

  .gobe-tiles {
    padding-top: calc(100vw / 2.58);
    overflow: clip;
  }

  .gobe-tiles h2 {
    font-size: calc(100vw / 2.58);
    grid-template-columns: repeat(3, 1fr);
  }

}