/* ========================================================================== */
/* # Atoms */
/* ========================================================================== */
hr {
  border-top: var(--black) 0.25px solid;
  border-bottom: none;
  margin-block: var(--spacing-m) var(--spacing-m);
  margin-inline: var(--spacing-xl);
}

/* ========================================================================== */
/* # Molecules */
/* ========================================================================== */

/* ========================================================================== */
/* # Organisms */
/* ========================================================================== */

/* ## Site navigation
/* ========================================================================== */
/* TODO A hero sectionnél a hamburger ikonra kattintva a menüpontok színeinél van valami glitch. */
.gobe-site-header {
  align-content: center;
  display: flex;
  justify-content: space-between;
  /* padding: var(--spacing-s); */
}

.gobe-site-header-nav {
  animation: header-color-change, header-background-color-change;
  animation-timeline: scroll();
  animation-range: var(--main-header-animation-range);
  animation-fill-mode: backwards;
  animation-timing-function: linear;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  left: 0;
  align-items: center;
  background-color: rgba(from var(--white) r g b / 1);
  box-shadow: 0 0 var(--spacing-s) var(--spacing-xs) rgba(from var(--black) r g b / 0.25);
  min-height: var(--main-nav-height);
  padding-block: var(--spacing-s);
  padding-inline-start: var(--spacing-s);
  padding-inline-end: var(--spacing-m);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.gobe-site-header-nav-logo {
  animation: logo-fill-change, logo-rotation;
  animation-timeline: scroll();
  animation-range: var(--main-header-animation-range), normal;
  animation-fill-mode: backwards;
  animation-timing-function: linear;

  fill: var(--black);
  height: var(--spacing-l);
  width: var(--spacing-l);
}

.gobe-site-header-nav-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  order: 3;
  padding: 0;
}

.gobe-site-header-nav-menu > li {
  /* color: var(--black); */
  font-family: var(--font-family-display);
  font-weight: 500;
  text-transform: uppercase;
  padding: var(--spacing-s);
  text-decoration: none;
  a {
    color: currentcolor;
    text-decoration: none;
  }
}

#hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  order: 3;
}

#hamburger > span {
  --icon-stroke-width: 2px;
  --icon-size: var(--font-size-s);
  
  --icon-point-coordinate-a: calc(15% - 0.5 * var(--icon-stroke-width)); /*  5 */
  --icon-point-coordinate-b: calc(15% + 0.5 * var(--icon-stroke-width)); /* 25 */
  --icon-point-coordinate-c: calc(50% - 0.5 * var(--icon-stroke-width)); /* 40 */
  --icon-point-coordinate-d: calc(50% + 0.5 * var(--icon-stroke-width)); /* 60 */
  --icon-point-coordinate-e: calc(85% - 0.5 * var(--icon-stroke-width)); /* 75 */
  --icon-point-coordinate-f: calc(85% + 0.5 * var(--icon-stroke-width)); /* 95 */

  animation: hamburger-color-change;
  animation-timeline: scroll();
  animation-range: var(--main-header-animation-range);
  animation-fill-mode: backwards;
  animation-timing-function: ease-in;
  
  background-color: var(--black);
  clip-path: polygon(0% var(--icon-point-coordinate-a),100% var(--icon-point-coordinate-a),100% var(--icon-point-coordinate-b),0% var(--icon-point-coordinate-b),0% var(--icon-point-coordinate-c),100% var(--icon-point-coordinate-c),100% var(--icon-point-coordinate-d),0% var(--icon-point-coordinate-d),0% var(--icon-point-coordinate-e),100% var(--icon-point-coordinate-e),100% var(--icon-point-coordinate-f),0% var(--icon-point-coordinate-f));
  display: block;
  width: var(--icon-size);
  height: var(--icon-size);
}

@keyframes header-color-change {
  from { color: var(--white); }
  to { color: var(--black); }
}

@keyframes header-background-color-change {
  from { background-color: rgba(from var(--white) r g b / 0); box-shadow: 0 0 var(--spacing-s) var(--spacing-xs) rgba(from var(--black) r g b / 0); }
  to { background-color: rgba(from var(--white) r g b / 1); box-shadow: 0 0 var(--spacing-s) var(--spacing-xs) rgba(from var(--black) r g b / 0.25); }
}

@keyframes hamburger-color-change {
  from { background-color: var(--white); }
  to { background-color: var(--black); }
}

@keyframes logo-fill-change {
  from { fill: var(--white); }
  to { fill: var(--black); }
}

@keyframes logo-rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(-720deg); }
}

/* ## Sections
/* ========================================================================== */
.gobe-section h2 {
  margin-bottom: var(--spacing-s);
}

.gobe-section:not(.full-width) {
  padding: var(--spacing-xl) var(--site-padding) var(--spacing-xl) var(--site-padding);
}

.gobe-section:nth-of-type(odd) {
  background-color: var(--black);
  color: var(--white);
}

.gobe-section:nth-of-type(even) {
  background-color: var(--white);
  color: var(--black);
}

.gobe-section-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--spacing-m);
}

.button-primary {
  background-color: var(--teal);
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-s);
  mask-image: url(../img/vector-masks/mask-s-horizontal.svg);
  mask-size: 100% 100%;
  padding: var(--spacing-s) var(--spacing-m);
  text-align: center;
  text-decoration: none;
  transition: background-color var(--time-xs) ease-in-out;
}

.gobe-section-cta-wrapper {
  align-items: center;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

/* ## Hero section */
/* ========================================================================== */
.gobe-section-hero {
  color: var(--white);
  h2 { font-size: var(--font-size-l); padding-block: var(--spacing-s) }
  p { font-size: var(--font-size-m); }
}

.gobe-section-hero-cell {
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  height: 100vh;
  justify-content: center;
  padding: var(--spacing-xl) var(--spacing-s);
  text-align: center;
  width: 100vw;
}

.gobe-section-hero-cell > div {
  padding-block: var(--spacing-s);
}

.gobe-section-hero-cell-events {
  background-image: linear-gradient(rgba(from var(--black) r g b / 0.75) 0%, rgba(from var(--black) r g b / 0) 50%), url('../img/hero/events.jpg');
  background-position: center;
  justify-content: space-between;
}

.gobe-section-hero-cell-music {
  background-image: url('../img/hero/music_a2.jpg');
  background-position: center;
}

.gobe-section-hero-cell-shop {
  background-image: linear-gradient(0deg, rgba(from var(--black) r g b / 0.75) 0%, rgba(from var(--black) r g b / 0) 50%), url('../img/hero/shop_a2.jpg');
  background-position: center;
  justify-content: end;
}