/* TODO Kellenének még reveal animációk egy csomó helyre ahol a hover miatt is használom a transformot. Ezekről beszéljünk, gondolom GSAP lesz majd az egész. */
/* TODO Némelyik carousel slideon még nem vagyok elégedett a címsorok tördelésével, ezeket javítani fogom, esetleg rövidebb szöveg is segítene. */

@import url("reset.css");
@import url("fonts.css");
@import url("tokens.css");
@import url("general-styles.css");
@import url("utilities.css");
@import url("animations.css");

/* ## Site navigation
/* ========================================================================== */
/* TODO A hero sectionnél a hamburger ikonra kattintva a menüpontok színeinél van valami glitch. */
.gobe-site-header {
  align-content: center;
  display: flex;
  justify-content: space-between;
  /* padding: var(--spacing-s); */
}

.gobe-site-header-nav {
  animation: header-color-change, header-background-color-change;
  animation-timeline: scroll();
  animation-range: var(--main-header-animation-range);
  animation-fill-mode: backwards;
  animation-timing-function: linear;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  left: 0;
  align-items: center;
  background-color: rgba(from var(--white) r g b / 1);
  box-shadow: 0 0 var(--spacing-s) var(--spacing-xs) rgba(from var(--black) r g b / 0.25);
  min-height: var(--main-nav-height);
  padding-block: var(--spacing-s);
  padding-inline-start: var(--spacing-s);
  padding-inline-end: var(--spacing-m);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.gobe-site-header-nav-logo {
  animation: logo-fill-change, logo-rotation;
  animation-timeline: scroll();
  animation-range: var(--main-header-animation-range), normal;
  animation-fill-mode: backwards;
  animation-timing-function: linear;

  fill: var(--black);
  height: var(--spacing-l);
  width: var(--spacing-l);
}

.gobe-site-header-nav-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  order: 3;
  padding: 0;
}

.gobe-site-header-nav-menu > li {
  font-family: var(--font-family-display);
  font-weight: 500;
  text-transform: uppercase;
  padding: var(--spacing-s);
  text-decoration: none;
  a {
    color: currentcolor;
    text-decoration: none;
  }
}

#hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  order: 3;
}

#hamburger > span {
  --icon-stroke-width: 2px;
  --icon-size: var(--font-size-s);
  
  --icon-point-coordinate-a: calc(15% - 0.5 * var(--icon-stroke-width)); /*  5 */
  --icon-point-coordinate-b: calc(15% + 0.5 * var(--icon-stroke-width)); /* 25 */
  --icon-point-coordinate-c: calc(50% - 0.5 * var(--icon-stroke-width)); /* 40 */
  --icon-point-coordinate-d: calc(50% + 0.5 * var(--icon-stroke-width)); /* 60 */
  --icon-point-coordinate-e: calc(85% - 0.5 * var(--icon-stroke-width)); /* 75 */
  --icon-point-coordinate-f: calc(85% + 0.5 * var(--icon-stroke-width)); /* 95 */

  animation: hamburger-color-change;
  animation-timeline: scroll();
  animation-range: var(--main-header-animation-range);
  animation-fill-mode: backwards;
  animation-timing-function: ease-in;
  
  background-color: var(--black);
  clip-path: polygon(0% var(--icon-point-coordinate-a),100% var(--icon-point-coordinate-a),100% var(--icon-point-coordinate-b),0% var(--icon-point-coordinate-b),0% var(--icon-point-coordinate-c),100% var(--icon-point-coordinate-c),100% var(--icon-point-coordinate-d),0% var(--icon-point-coordinate-d),0% var(--icon-point-coordinate-e),100% var(--icon-point-coordinate-e),100% var(--icon-point-coordinate-f),0% var(--icon-point-coordinate-f));
  display: block;
  width: var(--icon-size);
  height: var(--icon-size);
}

@keyframes header-color-change {
  from { color: var(--white); }
  to { color: var(--black); }
}

@keyframes header-background-color-change {
  from { background-color: rgba(from var(--white) r g b / 0); box-shadow: 0 0 var(--spacing-s) var(--spacing-xs) rgba(from var(--black) r g b / 0); }
  to { background-color: rgba(from var(--white) r g b / 1); box-shadow: 0 0 var(--spacing-s) var(--spacing-xs) rgba(from var(--black) r g b / 0.25); }
}

@keyframes hamburger-color-change {
  from { background-color: var(--white); }
  to { background-color: var(--black); }
}

@keyframes logo-fill-change {
  from { fill: var(--white); }
  to { fill: var(--black); }
}

@keyframes logo-rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(-720deg); }
}

/* ## Sections
/* ========================================================================== */
.gobe-section h2 {
  margin-bottom: var(--spacing-s);
}

.gobe-section:not(.full-width) {
  padding: var(--spacing-xl) var(--site-padding) var(--spacing-xl) var(--site-padding);
}

.gobe-section:nth-of-type(odd) {
  background-color: var(--black);
  color: var(--white);
}

.gobe-section:nth-of-type(even) {
  background-color: var(--white);
  color: var(--black);
}

.gobe-section-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--spacing-m);
}

.gobe-button-primary,
.gobe-button-secondary {
  background-color: var(--teal);
  border: none;
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-s);
  mask-image: url(../img/vector-masks/mask-s-horizontal.svg);
  mask-size: 100% 100%;
  text-align: center;
  text-decoration: none;
  transition: background-color var(--time-xs) ease-in-out;
}

.gobe-button-primary {
  padding: var(--spacing-s) var(--spacing-m);
}

.gobe-button-secondary {
  padding: var(--spacing-xs) var(--spacing-s);
  line-height: 1.35;
}

.gobe-section-cta-wrapper {
  align-items: center;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

/* ## Hero section */
/* ========================================================================== */
.gobe-section-hero {
  color: var(--white);
  h2 { font-size: var(--font-size-l); padding-block: var(--spacing-s) }
  p { font-size: var(--font-size-m); }
}

.gobe-section-hero-cell {
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  height: 100vh;
  justify-content: center;
  padding: var(--spacing-xl) var(--spacing-s);
  text-align: center;
  width: 100vw;
}

.gobe-section-hero-cell > div {
  padding-block: var(--spacing-s);
}

.gobe-section-hero-cell-events {
  background-image: linear-gradient(rgba(from var(--black) r g b / 0.75) 0%, rgba(from var(--black) r g b / 0) 50%), url('../img/hero/events.jpg');
  background-position: center;
  justify-content: space-between;
}

.gobe-section-hero-cell-music {
  background-image: url('../img/hero/music_a2.jpg');
  background-position: center;
}

.gobe-section-hero-cell-shop {
  background-image: linear-gradient(0deg, rgba(from var(--black) r g b / 0.75) 0%, rgba(from var(--black) r g b / 0) 50%), url('../img/hero/shop_a2.jpg');
  background-position: center;
  justify-content: end;
}


/* ## Events */
/* ========================================================================== */
.gobe-events-table {
  display: grid;
  gap: var(--spacing-s);
  grid-template-columns: auto auto 1fr;
  flex-direction: column;
  margin-block: var(--spacing-l);
}

.gobe-event-venue { font-family: var(--font-family-display); }
.gobe-event-city { font-size: var(--font-size-xs); }

/* ## Music
/* ========================================================================== */

.gobe-music-grid {
  display: grid;
  gap: var(--spacing-s);
  grid-template-columns: repeat(auto-fit, minmax(min(250px, calc(100vw - 2 * var(--site-padding))), 1fr));
  margin-block: var(--spacing-l);
}

.gobe-music-grid-item {
  cursor: pointer;
  display: grid;
  mask-image: url(../img/vector-masks/mask-m-square.svg);
  mask-size: 100% 100%;
  overflow: hidden;
  transition: all var(--time-s) ease-in-out;
}

.gobe-music-grid-item img,
.gobe-music-grid-item figcaption {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
}

.gobe-music-grid-item figcaption {
  align-self: stretch;
  background: linear-gradient(0deg, rgba(from var(--black) r g b / 0.75), rgba(from var(--black) r g b / 0));
  color: var(--white);
  display: grid;
  opacity: 0;
  padding: var(--spacing-xs);
  transform: translateY(+25%);
  transition: all var(--time-s) ease-in-out;
  div { align-self: end; }
}

/* ## Shop
/* ========================================================================== */
.gobe-shop-grid {
  display: grid;
  gap: var(--spacing-s);
  grid-template-columns: repeat(auto-fit, minmax(min(360px, calc(100vw - 2 * var(--site-padding))), 1fr));
  margin-block: var(--spacing-l);
}

.gobe-shop-grid-item {
  cursor: pointer;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-block: var(--spacing-s);
  transition: all var(--time-s) ease-in-out;
}

.gobe-shop-grid-item figcaption {
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-s);
  h4 {
    transition: all var(--time-s) ease-in-out;
  }
}

.gobe-shop-grid-item img {
  aspect-ratio: 3 / 4;
  mask-image: url(../img/vector-masks/mask-m-vertical.svg);
  mask-size: 100% 100%;
  object-fit: cover;
}

/* ## Footer photo
/* ========================================================================== */
.gobe-footer-photo {
  background-color: rgba(0, 0, 0, 0)!important;
}

.gobe-footer-photo img {
  object-fit: cover;
  object-position: center;
  position: relative;
  top: 54px;
}

/* ## Footer
/* ========================================================================== */
.gobe-footer {
  background-color: var(--light-grey);
  font-size: var(--font-size-xs);
  padding: var(--spacing-xl) var(--site-padding) var(--spacing-xl) var(--site-padding);
}

.gobe-footer-row {
  display: grid;
  gap: var(--spacing-s);
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
}

.gobe-footer-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: var(--spacing-s);
}

.gobe-footer-column-title {
  justify-self: end;
  font-weight: 600;
  padding-right: var(--spacing-s);
  width: max-content;
}
.gobe-footer-contacts {
  border-left: var(--black) 1px solid;
  list-style-type: none;
  padding-left: var(--spacing-s);
  li {
    width: max-content;
  }
}

.gobe-footer-copyright {
  display: flex;
  gap: var(--spacing-s);
  justify-content: center;
  padding-block-start: var(--spacing-s);
}

/* ## Media queries */
/* ========================================================================== */
@media (max-width: 50rem) {

  .gobe-section-hero-cell-music { justify-content: end; }
  .gobe-section-hero-cell-shop {background-position: center;}

  #hamburger {
    display: block;
  }

  .gobe-site-header-nav-menu {
    align-items: end;
    flex-direction: column;
    flex-shrink: 0;
    font-size: 2rem;
    height: 0;
    line-height: 2.5rem;
    overflow: hidden;
    opacity: 1;
    transition: all var(--time-s) ease-in-out;
    width: 100%;
  }
  
  .menu-show {
    height: 100vh;
    margin-top: var(--spacing-s);
    opacity: 1;
    transition: all var(--time-m) ease-in-out;
  }
  
  .gobe-site-header-nav {
    transition: all var(--time-s) ease-in-out;
  }
  
  .nav-open {
    backdrop-filter: blur(2rem);
    transition: all var(--time-m) ease-in-out;
  }

}

@media (hover: hover) {

  .gobe-button-primary:hover,
  .gobe-button-secondary:hover {
    background-color: color-mix(in hsl, var(--teal), black var(--darken-percentage, 10%));
    text-decoration: none!important;
  }

  .gobe-button-menu:hover {
    color: var(--teal);
    text-decoration: none !important;
  }

  .gobe-shop-grid-item:hover h4 { color: var(--teal); }

  .gobe-shop-grid:has(.gobe-shop-grid-item:hover) .gobe-shop-grid-item:not(:hover) {
    filter: saturate(0);
    opacity: 0.5;
    transform: scale(0.85);
  }

  .gobe-music-grid:has(.gobe-music-grid-item:hover) .gobe-music-grid-item:not(:hover) {
    filter: saturate(0);
    opacity: 0.25;
    transform: scale(0.85);
  }

  .gobe-music-grid:has(.gobe-music-grid-item:hover) .gobe-music-grid-item:not(:hover) figcaption {
    opacity: 0;
  }

  .gobe-music-grid:has(.gobe-music-grid-item:hover) .gobe-music-grid-item:hover figcaption{
    opacity: 1;
    transform: translateY(0);
  }

}